<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='bootstrap.min.css') }}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='my_styles.css') }}"
        />
        <!-- 각 html 페이지 타이틀  -->
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- 부트스트랩 내비게이션 포함 -->
        {% include "_navbar.html" %}
        {% block content %}
        <div class="container my-3">
            <!-- flash로 보내는 신호 수신 -->
            {% for message in get_flashed_messages() %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
            <!-- 각 페이지의 내용이 들어감 -->
            {% block page_content %} {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
