{% extends "base.html" %}

{% block title %}메인 페이지{% endblock %}

{% block page_content %}    
    {% if store_list %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for store in store_list%}
                        <a href="/store/{{ store.id }}"><li class="list-group-item list-group-item-action">{{ store.name }}</li></a>
                    {% endfor %}
                </ul>                
            </div>
        </div>
    </div>
    {% else %}
    <p>가게가 없어요...</p>
    {% endif %}
{% endblock %}
